
<nav>
    <ul class="main-menu d-none d-lg-inline">
        {% for cat in navbar %}
        {% if cat.parent == None %}
        <li class="menu-item-has-children">
            
                {{cat.title}} 
            
            <ul class="sub-menu text-muted font-small">
                
                {% for child in cat.children.all %}
                <li><a href="{% url 'main:category' child.slug %}"> {{child.title}}</a></li>
               {% endfor %}
                
            </ul>
        </li>
        {% endif %}
        {% endfor %}
     

    </ul>
    <div class="d-inline mr-50 tools-icon">
        <a class="red-tooltip text-danger" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="موضوعات جدید">
            <ion-icon name="flame-outline"></ion-icon>
        </a>
        <a class="red-tooltip text-primary" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="پربازدید">
            <ion-icon name="flash-outline"></ion-icon>
        </a>
        <a class="red-tooltip text-success" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="اطلاعیه">
            <ion-icon name="notifications-outline"></ion-icon>
            <span class="notification bg-success">5</span>
        </a>
    </div>
</nav>