<div class="col-lg-2 col-md-3 primary-sidebar sticky-sidebar sidebar-left order-2 order-md-1">
                        
    <!-- Widget Categories -->
    <div class="sidebar-widget widget_categories_2 border-radius-10 bg-white mb-30">
        <ul class="font-small text-muted">
            {% for cat in sidebar_right %}
            {% if cat.parent %}
            <li class="cat-item cat-item-3">
                <a href="{%url 'main:category' cat.slug %}">
                    <span class="ml-10">
                        <ion-icon name="trending-up-outline"></ion-icon>
                    </span>{{cat.title}}
                </a>
            </li>
            {% endif %}
            {% endfor %}
            
            
            
        </ul>
    </div>
    <!-- Widget Categories -->
    <div class="sidebar-widget widget_categories border-radius-10 bg-white mb-30">
        <div class="widget-header position-relative mb-15">
            <h5 class="widget-title"><strong>دسته بندی ها</strong></h5>
        </div>
        
        <ul class="font-small text-muted">
            
           
            <li class="cat-item cat-item-2"><a href=""></a></li>
           
           
        </ul>
        
        
    </div>
</div>